# -----------------------------
# Python
# -----------------------------
backend/venv/
venv/
__pycache__/
*.pyc

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# Uploads (user data)
# -----------------------------
backend/uploads/

# -----------------------------
# Node / Electron
# -----------------------------
node_modules/
desktop/node_modules/

# -----------------------------
# Build files
# -----------------------------
dist/
desktop/dist/
build/

# -----------------------------
# Logs
# -----------------------------
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -----------------------------
# OS / Editor
# -----------------------------
.DS_Store
Thumbs.db
.vscode/
